# A Public Health Dataset

## Background

This report was created by Geethanjali Krishnappa, Kevin Parrott, Jacob Rosen, and Manoj Venkatachalaiah for DSCS 511, Spring 2019.

In this project, our group extracted data from two public health data sources and turned it into a single dataset. The inspiration for this was seeing two maps, [here](https://www.cdc.gov/heartdisease/maps_data.htm) (CDC) and [here](https://findahealthcenter.hrsa.gov/) (HRSA), that were very good visual tools but unusable for analysis. For example, if a researcher wanted to model the affect of obesity and diabetes on the amount of people hospitalized for heart disease, they would need to manually collect the data from this map or the individual sources the map used. Instead, our group used webscraping to get the data programmatically.

These are all the packages that are required. If you don't have them then go get them.

In [2]:
#Loading all the neccessary modules
from selenium import webdriver
# from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import requests
import urllib
# from pprint import pprint
import pandas as pd
# import json
import re
import csv
from collections import Counter

## FIPS Dictionary

Every data point we want to collect is a piece of information representing a county. Each county can be identified by its name, or more specifically its FIPS (Federal Information Processing Standard Publication) code. Therefore, we are going to create a nested dictionary for each state so we can easily access identifying information. This will be very useful when we build dataframes in later sections. 

[Website Reference](http://datadictionary.naaccr.org/?c=11)

We ended up utilizing a few different sources for FIPS codes throughout the process, but the main source was a website that listed all of the FIPS Codes for US states and territories. There were some inconsistencies between sources that led to problems when merging data sets.

##### Step 1) Scrape

The first of many `BeautifulSoup` scrapes. Luckily this site is static.

In [3]:
#creates skin for nested dictionary
scraped_fips_dict = {}

#requests website URL
html_text = urllib.request.urlopen("http://datadictionary.naaccr.org/?c=11").read()

#creates a beautiful soup object
soup = BeautifulSoup(html_text, 'html.parser')

##### Step 2) Filter and Format County Names

In [4]:
#loop that collects all of the useful data

tablebody = soup.find_all('div',{'class':'tableAppendixBody'})

tablebodylist=[]
for body in tablebody:
    county_code = body.find('div',{'class':'code'}).text
    county_code = re.findall('[0-9]{3}',county_code)
    county_name = body.find('div',{'class':'title'}).text
    if '(city)' in county_name:
        county_name = re.findall('[A-Za-z- .]+[a-z]',county_name)
        county_name = county_name[0]
        county_name = county_name+' City'
    if '(City)' in county_name:
        county_name = re.findall('[A-Za-z- .]+[a-z]',county_name)
        county_name = county_name[0]
        county_name = county_name+' City'
    else:
        county_name = re.findall('[A-Za-z- .]+[a-z]',county_name)
        county_name = county_name[0]
        county_name = county_name.replace(' County','')
    tablebodylist.append([county_name,county_code[0]])

##### Step 3) Create a list of all the State/Territory info

In [5]:
tableheadlist = []
tablehead = soup.find_all('strong')
for head in tablehead:
    head = head.text
    if len(head) >20:
        state = re.findall('NAME: ([A-Za-z .]+[a-z]) ',head)
        abbv = re.findall('ALPHABETIC CODE: ([A-Z]{2})',head)
        state_code = re.findall('NUMERIC CODE: ([0-9]{2})',head)
        tableheadlist.append([state[0],abbv[0],state_code[0]])

##### Step 4) Create a list that tells a loop when to cut off for each state

In [6]:
# a list of endpoints that dreaks up the states/territories
endlist=[['Kusilvak', '158'],['Winston', '133'],['Yell', '149'],['Western', '050'],\
        ['Yuma', '027'],['Yuba', '115'],['Yuma', '125'],['Windham', '015'],['District of Columbia', '001'],\
        ['Sussex', '005'],['Washington', '133'],['Yap', '060'],['Worth', '321'],['Guam', '010'],\
        ['Maui', '009'],['Wright', '197'],['Washington', '087'],['Woodford', '203'],\
        ['Whitley', '183'],['Wyandotte', '209'],['Woodford', '239'],['Winn', '127'],\
        ['Worcester', '027'], ['Baltimore', '510'],['York', '031'],['Wotle', '430'],\
        ['Wexford', '165'],['Yellow Medicine', '173'],['St. Louis City', '510'],['Tinian', '120'],\
        ['Yazoo', '163'],['Yellowstone', '111'],['Yancey', '199'],['Williams', '105'],\
        ['York', '185'],['Sullivan', '019'],['Warren', '041'],['Valencia', '061'],['Carson City', '510'],\
        ['Yates', '123'],['Wyandot', '175'],['Woodward', '153'],['Yamhill', '071'],['York', '133'],\
        ['Yauco', '153'],['Sonsorol', '370'],['Washington', '009'],['York', '091'],['Oglala Lakota', '102'],\
        ['Wilson', '189'],['Zavala', '507'],['Wake Island', '450'],['Weber', '057'],['Winchester City', '840'],\
        ['St. Thomas', '030'],['Windsor', '027'],['Yakima', '077'],['Wood', '141'],\
        ['Wyoming', '109'],['Weston', '045']]

##### Step 5) Create nested dictionaries for each state

In [7]:
#Creates the skeleton for the dictionary
for state in tableheadlist:
    scraped_fips_dict[state[1]]={'State/Province':state[0],'Counties':{}}

##### Step 6) Add in County Names and FIPS Codes

In [8]:
#fills the values into the dictionary
stateindex=0

for i,county in enumerate(tablebodylist):
    state_code=tableheadlist[stateindex][2]
    if county[0]!=endlist[stateindex][0]:
        county_code=county[1]
        scraped_fips_dict[tableheadlist[stateindex][1]]['Counties'][county[0]]={'FIPS':state_code+county_code}
    if county[0]==endlist[stateindex][0]:
        county_code=county[1]
        scraped_fips_dict[tableheadlist[stateindex][1]]['Counties'][county[0]]={'FIPS':state_code+county_code}
        stateindex+=1

## Webscraping

Initially webscraping was actually the plan B to our original idea of requesting access to a restricted CDC file. We were going to apply, hopefully get access, and then use some fancy CSV parser to clean the data. But for various reasons - similar parsing had already been done, review process taking too long, etc. - we chose to scrape data from the interactive map. Truthfully, this is misleading as the webpage we actually scraped was [here](https://nccd.cdc.gov/DHDSPAtlas/Reports.aspx). The tricky thing about this webpage is that it uses ASPX. Unlike normal HTML which is static, ASPX allows the website to be interactive. This is great for normal users but difficult if the goal is scraping. While in HTML the url changes every time new the page displays new information, the url for an ASPX page does not. Therefore, the only way to access the information programmatically is to run code that simulates the necessary input for the desired information to be loaded. From there, it is simply getting the html, parsing, and other basic BS4 actions.

##### Step 1)  Selenium 
Install Selenium.

In [8]:
# !pip install selenium
# !pip install webdriver-manager

Install the driver for your favorite web browser (in our case Chrome).

In [9]:
# from selenium import webdriver
# from webdriver_manager.chrome import ChromeDriverManager

# webdriver.Chrome(ChromeDriverManager().install())

After downloading the driver you'll need to go to the location given in the output and extract the driver executable to some location. The path to this location will be important in the next section.

Selenium itself is actually a suite of different software; the specific one used here is called WebDriver. This tool is generally used to test websites, but its ability to programmatically interact with the elements of the site is why it is necessary on top of BeautifulSoup. To understand what it is doing, we will borrow a great explanation created by a Quora user [here](https://www.quora.com/How-does-the-Selenium-WebDriver-work) (feel free to read the hard version on your own). Imagine a taxi cab ride; there are 3 components- rider, driver, car. The rider gives instructions, the driver inputs them into the car, and the car executes. In the case of Selenium, the rider is the user, the driver is the browser driver, and the car is the browser. The user types instructions in code, the driver sends those requests to the browser, and the browser exexutes those requests.

##### Step 2)  Selenium Browser
These commands show webdriver where the browser and driver are located in the computer so that it can pull up a webpage in that browser. A new window will pop up and say "*Browser is being controlled by automated test software*".

Each code block in the following cell does the same thing; the location paths are for each of our group member's computers.

In [9]:
#Jacob 
options = webdriver.ChromeOptions()
options.binary_location = r"C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"
chrome_driver_binary = r"C:\Users\Jacob Rosen\Desktop\chromedriver.exe"
driver = webdriver.Chrome(chrome_driver_binary, chrome_options=options)

#Kevin
# options = webdriver.ChromeOptions()
# options.binary_location = r"C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"
# chrome_driver_binary = r"C:\Users\parro\Desktop\chromedriver.exe"
# driver = webdriver.Chrome(chrome_driver_binary, chrome_options=options)

#Manoj
# options = webdriver.ChromeOptions()
# options.binary_location = r"C:\Program Files (x86)\Google\Chrome\Application\chrome.exe"
# chrome_driver_binary = r"C:\Users\manoj v\desktop\chromedriver.exe"
# driver = webdriver.Chrome(chrome_driver_binary, chrome_options=options)

C:\Users\Jacob Rosen\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: use options instead of chrome_options
  """

##### Step 3)  CDC Website
Pass the url of the page you want to access to the driver.

In [10]:
url = 'https://nccd.cdc.gov/DHDSPAtlas/Reports.aspx'
driver.get(url)

##### Step 4) Page Defaults
This page actually has defaults already set so we can simply click *Show Results* to get data. Clicking county statistics is not necessary because the data is already loaded in the html.

In [11]:
submit_button = driver.find_element_by_xpath('//*[@id="btn_report_submit"]')
submit_button.click()

**!** Sometimes you might get an error saying "element is not interactable". Try running the above code a few times; if it does't work there might be a deeper problem.

From here we can immediately create a data table. Unlike the later ones, this one contains extra columns like names because it will be the table all others will be merged to.

In [12]:
#Loops through and grabs the important data
data_list=[]
html=driver.page_source

soup = BeautifulSoup(html, 'html.parser')
report_body= soup.find('tbody',{'id':'report_body'})
row_list=report_body.find_all('tr')

for row in row_list:
    county_name=row.find('a')
    county_name=county_name.text
    values=row.find_all('td')
    abbv=values[0].text
    data=values[1].text
    state= scraped_fips_dict[abbv]['State/Province']
    for name in scraped_fips_dict[abbv]['Counties']:
        if county_name in name:
            fips_code = scraped_fips_dict[abbv]['Counties'][name]['FIPS']
    line=[fips_code,county_name,abbv,state,data]
    data_list.append(line)
DiseaseRateTable = pd.DataFrame(data_list,columns = ["FIPS Code","County Name","State Abbreviation","State Name","CV Death per 100K"])
DiseaseRateTable

,FIPS Code,County Name,State Abbreviation,State Name,CV Death per 100K
0,02013,Aleutians East,AK,Alaska,106.1
1,08097,Pitkin,CO,Colorado,133.8
2,08037,Eagle,CO,Colorado,157.5
3,08117,Summit,CO,Colorado,171.8
4,02016,Aleutians West,AK,Alaska,184.7
5,08113,San Miguel,CO,Colorado,186.0
6,08091,Ouray,CO,Colorado,210.9
7,56039,Teton,WY,Wyoming,215.2
8,51685,Manassas Park,VA,Virginia,221.1
9,16013,Blaine,ID,Idaho,234.1
10,08035,Douglas,CO,Colorado,242.2
11,12021,Collier,FL,Florida,247.8
12,51600,Fairfax,VA,Virginia,253.7
13,72143,Vega Alta,PR,Puerto Rico,254.3
14,08107,Routt,CO,Colorado,256.8
15,72135,Toa Alta,PR,Puerto Rico,258.0
16,72019,Barranquitas,PR,Puerto Rico,258.1
17,27019,Carver,MN,Minnesota,258.8
18,06041,Marin,CA,California,261.0
19,72065,Hatillo,PR,Puerto Rico,261.6
20,72027,Camuy,PR,Puerto Rico,261.9
21,72037,Ceiba,PR,Puerto Rico,261.9
22,08093,Park,CO,Colorado,262.4
23,27163,Washington,MN,Minnesota,266.7
24,72101,Morovis,PR,Puerto Rico,267.0
25,72115,Quebradillas,PR,Puerto Rico,267.8
26,72087,Loiza,PR,Puerto Rico,267.9
27,27037,Dakota,MN,Minnesota,268.6
28,27037,Montgomery,MD,Maryland,270.0
29,72151,Yabucoa,PR,Puerto Rico,270.3
...,...,...,...,...,...
3186,28011,Bolivar,MS,Mississippi,748.4
3187,40005,Atoka,OK,Oklahoma,749.9
3188,21077,Gallatin,KY,Kentucky,752.7
3189,21193,Perry,KY,Kentucky,756.2
3190,28043,Grenada,MS,Mississippi,762.5
3191,51730,Petersburg,VA,Virginia,765.7
3192,21129,Lee,KY,Kentucky,769.0
3193,22107,Tensas,LA,Louisiana,771.3
3194,40029,Coal,OK,Oklahoma,771.7
3195,48357,Ochiltree,TX,Texas,772.7
3196,40023,Choctaw,OK,Oklahoma,772.9
3197,47017,Carroll,TN,Tennessee,776.7
3198,28099,Neshoba,MS,Mississippi,779.3
3199,30085,Roosevelt,MT,Montana,790.2
3200,40101,Muskogee,OK,Oklahoma,791.5
3201,28143,Tunica,MS,Mississippi,800.0
3202,22065,Madison,LA,Louisiana,800.5
3203,13161,Jeff Davis,GA,Georgia,808.4
3204,01127,Walker,AL,Alabama,808.8
3205,21025,Breathitt,KY,Kentucky,820.9
3206,05041,Desha,AR,Arkansas,840.2
3207,45069,Marlboro,SC,South Carolina,844.1
3208,21237,Wolfe,KY,Kentucky,853.5
3209,51580,Covington,VA,Virginia,860.9
3210,51081,Greensville,VA,Virginia,867.7
3211,22021,Caldwell,LA,Louisiana,876.6
3212,29221,Washington,MO,Missouri,878.7
3213,28083,Leflore,MS,Mississippi,880.5
3214,22025,Catahoula,LA,Louisiana,881.7
3215,22041,Franklin,LA,Louisiana,1202.6

##### Step 5)  Selectors
But if we only wanted one type of data we could've downloaded it manually from the map. The code below can access every type of interactive element on the page related to loading data- tabs, bubble menus, drop-down menus. The only difference between categories will be specifics like name and xpath.

The driver variable has many ways to search for elements within the html. We chose to search by Xpath. Xpath stands for XML path and is used to find elements in XML using an XML path expression. This is helpful when things like ID or tag are unhelpful for finding specific elements. It can be accessed by right clicking on the element in the html and going to `Copy -> Copy Xpath`. 

The first code block clicks the *Social and Economic tag*. The second block selects an option from the bubble menus. The third code selects an option from a drop down menu. There are actually more drop-downs under the *Health Indicators* tab, but they all follow the same selector-option structure. This page is now prepared to load data on the percentage of the population aged 65 and older.

In [13]:
#Social and Economic tab
tab = driver.find_element_by_xpath('//*[@id="report_type_tabs"]/ul/li[3]/a')
tab.click()

#Bubble menu- Demographics
bubble = driver.find_element_by_xpath('//*[@id="2_option_13"]')
bubble.click()

#select drop down menu- Aged 65 and Older (%)
dropdown = driver.find_element_by_xpath('//*[@id="2_theme_select"]/option[6]')
dropdown.click()

##### Step 6)  Results
Once we have specified what data we want, we can click the *Show Results* button again to load the data. Notice that the Xpath to the *Show Results* button for the Social and Economic data is different than the button for the default tab *Health Indicators*.

In [14]:
#show results
results = driver.find_element_by_xpath('//*[@id="btn_2_report_submit"]')
results.click()

##### Step 7)  BeautifulSoup

Now that the data is actually in the page's html, we can scrape it like any other static page with BeautifulSoup.

In [24]:
html=driver.page_source
soup = BeautifulSoup(html, 'html.parser')

Finding what we want simply requires locating the correct tags. Then we can search by tag with the find methods built into bs4.

In [25]:
report_body= soup.find('tbody',{'id':'report_sd_body'})
row_list=report_body.find_all('tr')

##### Step 8) Build

The for loop below uses the parsed html and the FIPS dictionary we created earlier to create a list of labeled data that can be turned into a dataframe. It takes the data we want from each row of the html we scraped and uses the FIPS dictionary to assign that data to a FIPS code.

**Older Than 65 %**

In [26]:
old_data_list=[]

for i,row in enumerate(row_list):
    county_name = row.find('th')
    county_name = county_name.text
    values=row.find_all('td')
    abbv=values[0].text
    data=values[1].text
    for name in scraped_fips_dict[abbv]['Counties']:
        if county_name in name:
            fips_code = scraped_fips_dict[abbv]['Counties'][name]['FIPS']
    line=[fips_code,data]
    old_data_list.append(line)

OldTable = pd.DataFrame(old_data_list,columns = ["FIPS Code","% Older than 65"])
OldTable

     FIPS Code % Older than 65
0        13053             3.7
1        02016             5.5
2        02185             6.1
3        16065             6.3
4        46102             6.3
5        46121             6.9
6        02050             7.1
7        02188             7.2
8        38085             7.2
9        49049             7.2
10       48269             7.3
11       02180             7.3
12       51685             7.4
13       02164             7.5
14       02068             7.6
15       56005             7.7
16       46017             7.8
17       20061             7.8
18       13179             8.0
19       29169             8.0
20       02070             8.1
21       02013             8.2
22       13183             8.2
23       20161             8.3
24       51107             8.3
25       53021             8.4
26       13063             8.4
27       37133             8.5
28       51750             8.5
29       48041             8.5
...        ...             ...
3184     26083            31.3
3185     27001            31.4
3186     13291            31.6
3187     32029            31.8
3188     53069            31.8
3189     38051            32.1
3190     13239            32.1
3191     41015            32.3
3192     08079            32.4
3193     53031            33.0
3194     29085            33.1
3195     26131            33.3
3196     41069            33.5
3197     08027            33.5
3198     13281            33.6
3199     48385            34.1
3200     12055            34.5
3201     35051            34.5
3202     51103            34.6
3203     12115            34.8
3204     26001            35.1
3205     51133            35.2
3206     48299            35.5
3207     12017            35.5
3208     31091            35.8
3209     31091            37.3
3210     12015            38.3
3211     51091            38.8
3212     35003            39.2
3213     12119            54.2

[3214 rows x 2 columns]

We wanted to have a decently sized dataset as the final product for this report so we picked several more variables to collect. But as you will see both the data scraping and manipulation is very similar. Aside from a few things like variable names and fixing data originally stored in 1000s (like house price), all of this code is copy and paste.  

**!** The Selenium browser takes a few seconds to update. If you execute both cells of the table-making code too quickly then you will get a table identical to the one previously made.

**Population**

In [27]:
#Social and Economic tab
tab = driver.find_element_by_xpath('//*[@id="report_type_tabs"]/ul/li[3]/a')
tab.click()

#Demographic Bubble menu
bubble = driver.find_element_by_xpath('//*[@id="2_option_13"]')
bubble.click()

#Population drop down menu
dropdown = driver.find_element_by_xpath('//*[@id="2_theme_select"]/option[7]')
dropdown.click()

#show results
submit_button = driver.find_element_by_xpath('//*[@id="btn_2_report_submit"]')
submit_button.click()

In [28]:
html=driver.page_source

soup = BeautifulSoup(html, 'html.parser')
#if error given that report_body has no attribute findall, rerun the above cell and try again
Population_data_list=[]

report_body= soup.find('tbody',{'id':'report_sd_body'})
row_list=report_body.find_all('tr')
for i,row in enumerate(row_list):
    county_name = row.find('th')
    county_name = county_name.text
    values=row.find_all('td')
    abbv=values[0].text
    data=values[1].text
    for name in scraped_fips_dict[abbv]['Counties']:
        if county_name in name:
            fips_code = scraped_fips_dict[abbv]['Counties'][name]['FIPS']
    line=[fips_code,data]
    Population_data_list.append(line)

PopulationTable = pd.DataFrame(Population_data_list,columns = ["FIPS Code","Population"])
PopulationTable

     FIPS Code Population
0        48301         74
1        15005         86
2        48269        289
3        31005        421
4        31117        432
5        30069        453
6        31009        502
7        31115        537
8        35021        546
9        48261        564
10       08111        569
11       48311        600
12       48033        602
13       31171        643
14       38087        674
15       48263        680
16       31075        682
17       02282        682
18       31091        684
19       49009        702
20       31103        720
21       48443        721
22       31007        728
23       46075        740
24       30037        747
25       30103        790
26       08053        820
27       08079        834
28       31183        846
29       16025        886
...        ...        ...
3184     12095    1290216
3185     12057    1351087
3186     36059    1363069
3187     12099    1426772
3188     36005    1455846
3189     06067    1495400
3190     36103    1497595
3191     42101    1569657
3192     25017    1582857
3193     06001    1629615
3194     36061    1653877
3195     26163    1763822
3196     12011    1890416
3197     48029    1892004
3198     06085    1911226
3199     48439    1983675
3200     32003    2112436
3201     53033    2118119
3202     06071    2121220
3203     36081    2339280
3204     06065    2355002
3205     48113    2552213
3206     36047    2635121
3207     12086    2702602
3208     06059    3155816
3209     06073    3283665
3210     04013    4155501
3211     48203    4525519
3212     17031    5238541
3213     06037   10105722

[3214 rows x 2 columns]

**Median Household Income**

In [29]:
#Social and Economic tab
tab = driver.find_element_by_xpath('//*[@id="report_type_tabs"]/ul/li[3]/a')
tab.click()

#Social Evironment Bubble menu
bubble = driver.find_element_by_xpath('//*[@id="2_option_12"]')
bubble.click()

#Household Income drop down menu
dropdown = driver.find_element_by_xpath('//*[@id="2_theme_select"]/option[6]')
dropdown.click()

#show results
submit_button = driver.find_element_by_xpath('//*[@id="btn_2_report_submit"]')
submit_button.click()

In [30]:
html=driver.page_source

soup = BeautifulSoup(html, 'html.parser')

#if error given that report_body has no attribute findall, rerun the above cell and try again
income_data_list=[]

report_body= soup.find('tbody',{'id':'report_sd_body'})
row_list=report_body.find_all('tr')
for i,row in enumerate(row_list):
    county_name = row.find('th')
    county_name = county_name.text
    values=row.find_all('td')
    abbv=values[0].text
    data=values[1].text
    data=float(data)*1000
    for name in scraped_fips_dict[abbv]['Counties']:
        if county_name in name:
            fips_code = scraped_fips_dict[abbv]['Counties'][name]['FIPS']
    line=[fips_code,data]
    income_data_list.append(line)

IncomeRateTable = pd.DataFrame(income_data_list,columns = ["FIPS Code","Median Household Income"])
IncomeRateTable

     FIPS Code  Median Household Income
0        28051                  22000.0
1        46017                  22500.0
2        21189                  23100.0
3        01131                  24200.0
4        54047                  24500.0
5        13259                  24900.0
6        21051                  24900.0
7        21147                  25100.0
8        21095                  25200.0
9        01105                  25200.0
10       21129                  25400.0
11       28053                  25500.0
12       48507                  25500.0
13       22035                  25800.0
14       21013                  26000.0
15       28119                  26200.0
16       28157                  26400.0
17       01063                  26600.0
18       21025                  26700.0
19       28065                  26700.0
20       22107                  26700.0
21       48427                  26700.0
22       28027                  26800.0
23       01119                  26800.0
24       05077                  26900.0
25       13099                  26900.0
26       45005                  26900.0
27       28055                  27000.0
28       08023                  27200.0
29       22065                  27300.0
...        ...                      ...
3104     34003                  93900.0
3105     27019                  94100.0
3106     49043                  94500.0
3107     51600                  94700.0
3108     25017                  95000.0
3109     24003                  95300.0
3110     36079                  96300.0
3111     36079                  97200.0
3112     51153                  97500.0
3113     48397                  97500.0
3114     51179                  97600.0
3115     51179                  99600.0
3116     13117                 101800.0
3117     06075                 101900.0
3118     39041                 103000.0
3119     06041                 103500.0
3120     34035                 104700.0
3121     36059                 105500.0
3122     34027                 107000.0
3123     06081                 107100.0
3124     47187                 107900.0
3125     51013                 108600.0
3126     06085                 110800.0
3127     08035                 112400.0
3128     34019                 113300.0
3129     35028                 114700.0
3130     51600                 115500.0
3131     51610                 118000.0
3132     51610                 119400.0
3133     51107                 134600.0

[3134 rows x 2 columns]

**Median Home Value**

In [31]:
#Social and Economic tab
tab = driver.find_element_by_xpath('//*[@id="report_type_tabs"]/ul/li[3]/a')
tab.click()

#Social evironment Bubble menu
bubble = driver.find_element_by_xpath('//*[@id="2_option_12"]')
bubble.click()

#Home Value drop down menu
dropdown = driver.find_element_by_xpath('//*[@id="2_theme_select"]/option[5]')
dropdown.click()

#show results
submit_button = driver.find_element_by_xpath('//*[@id="btn_2_report_submit"]')
submit_button.click()

In [32]:
html=driver.page_source

soup = BeautifulSoup(html, 'html.parser')
#if error given that report_body has no attribute findall, rerun the above cell and try again
home_data_list=[]

report_body= soup.find('tbody',{'id':'report_sd_body'})
row_list=report_body.find_all('tr')
for i,row in enumerate(row_list):
    county_name = row.find('th')
    county_name = county_name.text
    values=row.find_all('td')
    abbv=values[0].text
    data=values[1].text
    data=float(data)*1000
    for name in scraped_fips_dict[abbv]['Counties']:
        if county_name in name:
            fips_code = scraped_fips_dict[abbv]['Counties'][name]['FIPS']
    line=[fips_code,data]
    home_data_list.append(line)



HomeValueTable = pd.DataFrame(home_data_list,columns = ["FIPS Code","Median Home Value"])
HomeValueTable

     FIPS Code  Median Home Value
0        46102            18700.0
1        48261            21300.0
2        48079            33300.0
3        54047            34800.0
4        48197            38400.0
5        46121            38500.0
6        48269            38800.0
7        48507            39900.0
8        48229            44100.0
9        48275            44400.0
10       48101            44700.0
11       46095            45300.0
12       13309            46800.0
13       48155            47400.0
14       20049            48300.0
15       48131            48500.0
16       48191            48700.0
17       21131            48900.0
18       13037            49000.0
19       48489            49100.0
20       48207            49200.0
21       40057            49700.0
22       21025            50000.0
23       28055            50200.0
24       28051            50600.0
25       48377            50700.0
26       28125            51100.0
27       28119            51400.0
28       46017            51400.0
29       13259            51800.0
...        ...                ...
3182     51600           501900.0
3183     06083           509400.0
3184     06097           513300.0
3185     36119           513300.0
3186     15007           520100.0
3187     06111           520300.0
3188     06013           522300.0
3189     51600           534800.0
3190     11001           537400.0
3191     51510           537900.0
3192     08117           547700.0
3193     49043           558300.0
3194     06055           560500.0
3195     15009           569100.0
3196     08097           593600.0
3197     06059           620500.0
3198     36047           623900.0
3199     15003           626400.0
3200     51013           643300.0
3201     06001           649100.0
3202     06087           659900.0
3203     25007           674600.0
3204     56039           739100.0
3205     51610           742000.0
3206     06085           829600.0
3207     06041           908800.0
3208     36061           915300.0
3209     06081           917700.0
3210     06075           927400.0
3211     25019           995900.0

[3212 rows x 2 columns]

**Food Stamp Recipient Percentage**

In [35]:
#Social and Economic tab
tab = driver.find_element_by_xpath('//*[@id="report_type_tabs"]/ul/li[3]/a')
tab.click()

#Social evironment Bubble menu
bubble = driver.find_element_by_xpath('//*[@id="2_option_12"]')
bubble.click()

#Food Stamp drop down menu
dropdown = driver.find_element_by_xpath('//*[@id="2_theme_select"]/option[4]')
dropdown.click()

#show results
submit_button = driver.find_element_by_xpath('//*[@id="btn_2_report_submit"]')
submit_button.click()

In [36]:
html=driver.page_source

soup = BeautifulSoup(html, 'html.parser')

#if error given that report_body has no attribute findall, rerun the above cell and try again
food_data_list=[]

report_body= soup.find('tbody',{'id':'report_sd_body'})
row_list=report_body.find_all('tr')
for i,row in enumerate(row_list):
    county_name = row.find('th')
    county_name = county_name.text
    values=row.find_all('td')
    abbv=values[0].text
    data=values[1].text
    for name in scraped_fips_dict[abbv]['Counties']:
        if county_name in name:
            fips_code = scraped_fips_dict[abbv]['Counties'][name]['FIPS']
    line=[fips_code,data]
    food_data_list.append(line)


FoodStampTable = pd.DataFrame(food_data_list,columns = ["FIPS Code","Food Stamp Recipient %"])
FoodStampTable

     FIPS Code Food Stamp Recipient %
0        31005                    0.4
1        56039                    0.6
2        51610                    0.9
3        48301                    0.9
4        46119                    1.1
5        30075                    1.1
6        08097                    1.2
7        08035                    1.6
8        30055                    1.6
9        56035                    1.6
10       49029                    1.7
11       46021                    1.8
12       30033                    1.8
13       20063                    1.8
14       25019                    1.9
15       31183                    1.9
16       48395                    1.9
17       49043                    2.0
18       46061                    2.0
19       31165                    2.0
20       08079                    2.2
21       56011                    2.2
22       20179                    2.3
23       02016                    2.4
24       51107                    2.4
25       34019                    2.5
26       30011                    2.5
27       18057                    2.6
28       46069                    2.6
29       46083                    2.6
...        ...                    ...
3104     28051                   38.2
3105     30035                   38.3
3106     46095                   38.4
3107     28083                   38.7
3108     17003                   39.0
3109     02050                   39.4
3110     51595                   39.4
3111     01085                   39.7
3112     35029                   39.7
3113     46031                   39.8
3114     55078                   39.9
3115     28021                   40.3
3116     01047                   40.3
3117     28151                   41.1
3118     37187                   41.2
3119     22035                   41.3
3120     46007                   41.3
3121     28027                   41.6
3122     54059                   42.4
3123     01105                   43.0
3124     28125                   43.4
3125     46137                   43.5
3126     46017                   43.8
3127     01131                   44.1
3128     54047                   44.5
3129     28143                   45.1
3130     21189                   46.1
3131     28053                   48.1
3132     54015                   48.3
3133     46121                   57.3

[3134 rows x 2 columns]

**Less than College Educated Percentage**

In [50]:
#Social and Economic tab
tab = driver.find_element_by_xpath('//*[@id="report_type_tabs"]/ul/li[3]/a')
tab.click()

#Social evironment Bubble menu
bubble = driver.find_element_by_xpath('//*[@id="2_option_12"]')
bubble.click()

#College % drop down menu
dropdown = driver.find_element_by_xpath('//*[@id="2_theme_select"]/option[2]')
dropdown.click()

#show results
submit_button = driver.find_element_by_xpath('//*[@id="btn_2_report_submit"]')
submit_button.click()

In [51]:
html=driver.page_source

soup = BeautifulSoup(html, 'html.parser')
#if error given that report_body has no attribute findall, rerun the above cell and try again
college_data_list=[]

report_body= soup.find('tbody',{'id':'report_sd_body'})
row_list=report_body.find_all('tr')
for i,row in enumerate(row_list):
    county_name = row.find('th')
    county_name = county_name.text
    values=row.find_all('td')
    abbv=values[0].text
    data=values[1].text
    for name in scraped_fips_dict[abbv]['Counties']:
        if county_name in name:
            fips_code = scraped_fips_dict[abbv]['Counties'][name]['FIPS']
    line=[fips_code,data]
    college_data_list.append(line)


CollegeTable = pd.DataFrame(college_data_list,columns = ["FIPS Code", "Edu. < College %"])
CollegeTable

     FIPS Code Edu. < College %
0        51610             21.9
1        51013             25.9
2        35028             34.5
3        51510             38.2
4        51510             38.8
5        08097             38.8
6        36061             39.3
7        51600             39.3
8        08013             39.6
9        51107             40.2
10       51107             41.7
11       47187             41.9
12       08035             42.0
13       37135             42.4
14       06041             42.5
15       18057             42.5
16       51600             43.1
17       11001             43.4
18       06075             44.2
19       51830             44.8
20       20091             45.4
21       26161             45.7
22       25017             45.9
23       08113             45.9
24       56039             45.9
25       39041             46.2
26       41003             46.2
27       08051             46.3
28       49043             46.5
29       08014             46.6
...        ...              ...
3184     13239             91.7
3185     47151             91.7
3186     13003             91.8
3187     21159             91.8
3188     13271             91.9
3189     13309             91.9
3190     08025             91.9
3191     47087             91.9
3192     54005             92.1
3193     05079             92.1
3194     13025             92.2
3195     21237             92.2
3196     47129             92.3
3197     48229             92.4
3198     48507             92.4
3199     21147             92.4
3200     37177             92.4
3201     21063             92.5
3202     51081             92.5
3203     54105             92.5
3204     48163             92.8
3205     37095             92.8
3206     42053             93.0
3207     47137             93.0
3208     13101             93.1
3209     13265             93.2
3210     48261             93.5
3211     28055             93.9
3212     54047             95.1
3213     48301             95.3

[3214 rows x 2 columns]

**Less than High School Educated Percentage**

In [38]:
#Social and Economic tab
tab = driver.find_element_by_xpath('//*[@id="report_type_tabs"]/ul/li[3]/a')
tab.click()

#Social evironment Bubble menu
bubble = driver.find_element_by_xpath('//*[@id="2_option_12"]')
bubble.click()

#Highschool % drop down menu
dropdown = driver.find_element_by_xpath('//*[@id="2_theme_select"]/option[1]')
dropdown.click()

#show results
submit_button = driver.find_element_by_xpath('//*[@id="btn_2_report_submit"]')
submit_button.click()

In [39]:
html=driver.page_source

soup = BeautifulSoup(html, 'html.parser')
#if error given that report_body has no attribute findall, rerun the above cell and try again
highschool_data_list=[]

report_body= soup.find('tbody',{'id':'report_sd_body'})
row_list=report_body.find_all('tr')
for i,row in enumerate(row_list):
    county_name = row.find('th')
    county_name = county_name.text
    values=row.find_all('td')
    abbv=values[0].text
    data=values[1].text
    for name in scraped_fips_dict[abbv]['Counties']:
        if county_name in name:
            fips_code = scraped_fips_dict[abbv]['Counties'][name]['FIPS']
    line=[fips_code,data]
    highschool_data_list.append(line)

HighschoolTable = pd.DataFrame(highschool_data_list,columns = ["FIPS Code","Edu. < Highschool %"])
HighschoolTable

     FIPS Code Edu. < Highschool %
0        31009                 1.1
1        02068                 1.3
2        31115                 1.7
3        51610                 1.8
4        49033                 1.9
5        30069                 1.9
6        35028                 2.0
7        08047                 2.0
8        08091                 2.0
9        08019                 2.1
10       08035                 2.1
11       49029                 2.8
12       31075                 2.9
13       30031                 3.2
14       19169                 3.2
15       39041                 3.3
16       25007                 3.4
17       02100                 3.4
18       08111                 3.5
19       53023                 3.5
20       08093                 3.6
21       08079                 3.6
22       08039                 3.7
23       30045                 3.7
24       38091                 3.8
25       16057                 3.8
26       18057                 3.8
27       55089                 3.8
28       56001                 3.8
29       56035                 3.8
...        ...                 ...
3184     53001                34.8
3185     12051                34.9
3186     48163                35.0
3187     72107                35.6
3188     72045                35.7
3189     48127                35.7
3190     72131                35.8
3191     72095                36.1
3192     48215                36.3
3193     72145                36.5
3194     48109                36.6
3195     48109                36.7
3196     72001                36.8
3197     21051                37.0
3198     48389                37.7
3199     48165                38.3
3200     72079                38.3
3201     48095                39.0
3202     72081                39.2
3203     48507                39.7
3204     48323                40.8
3205     39075                41.8
3206     48169                42.0
3207     72083                44.4
3208     48505                44.6
3209     48377                47.5
3210     48229                49.0
3211     72093                49.8
3212     48427                51.2
3213     48261                58.7

[3214 rows x 2 columns]

**Poverty %**

In [42]:
#Social and Economic tab
tab = driver.find_element_by_xpath('//*[@id="report_type_tabs"]/ul/li[3]/a')
tab.click()

#Social evironment Bubble menu
bubble = driver.find_element_by_xpath('//*[@id="2_option_12"]')
bubble.click()

#Poverty drop down menu
dropdown = driver.find_element_by_xpath('//*[@id="2_theme_select"]/option[8]')
dropdown.click()

#show results
submit_button = driver.find_element_by_xpath('//*[@id="btn_2_report_submit"]')
submit_button.click()

In [43]:
html=driver.page_source

soup = BeautifulSoup(html, 'html.parser')
#if error given that report_body has no attribute findall, rerun the above cell and try again
poverty_data_list=[]

report_body= soup.find('tbody',{'id':'report_sd_body'})
row_list=report_body.find_all('tr')
for i,row in enumerate(row_list):
    county_name = row.find('th')
    county_name = county_name.text
    values=row.find_all('td')
    abbv=values[0].text
    data=values[1].text
    for name in scraped_fips_dict[abbv]['Counties']:
        if county_name in name:
            fips_code = scraped_fips_dict[abbv]['Counties'][name]['FIPS']
    line=[fips_code,data]
    poverty_data_list.append(line)


PovertyRateTable = pd.DataFrame(poverty_data_list,columns = ["FIPS Code","Poverty %"])
PovertyRateTable

     FIPS Code Poverty %
0        08035       3.4
1        51107       3.5
2        51610       3.6
3        46083       3.7
4        35028       4.0
5        33015       4.2
6        27019       4.3
7        49029       4.3
8        27163       4.5
9        34019       4.5
10       17093       4.6
11       39041       4.7
12       17133       4.8
13       18057       4.8
14       19049       4.9
15       55015       5.0
16       51199       5.1
17       55133       5.2
18       48397       5.2
19       47187       5.2
20       34035       5.2
21       34035       5.2
22       29183       5.2
23       27171       5.3
24       08014       5.3
25       34027       5.4
26       39165       5.4
27       55089       5.4
28       51735       5.4
29       49051       5.5
...        ...       ...
3104     05077      35.9
3105     54047      36.3
3106     21095      37.1
3107     28135      37.2
3108     28021      38.2
3109     21119      38.2
3110     45005      38.2
3111     48489      38.3
3112     21013      38.7
3113     28053      38.9
3114     21129      39.0
3115     13309      39.1
3116     46031      39.1
3117     13259      39.2
3118     21121      39.2
3119     21147      39.3
3120     21159      39.3
3121     46017      39.5
3122     48427      39.9
3123     28055      40.5
3124     28027      41.2
3125     22065      41.3
3126     21051      42.1
3127     28051      42.5
3128     47095      42.7
3129     22035      43.5
3130     46137      43.7
3131     21189      45.2
3132     08025      48.0
3133     46121      48.6

[3134 rows x 2 columns]

## (Not) API Requests 

To supplement this data set, we wanted to get information on Community Health Centers. These are primary care delivery centers that get at least part of their funding from the federal government. Their purpose is to provie basic care to underserved populations. In a vey basic study, information about number of CHCs per county might be a rough but sufficient representation for how much resources are being provided to an area. 

We originally found this data available on an interactive [map](https://findahealthcenter.hrsa.gov/). And just like the CDC data there was no way to get all the data once. Luckily (or so we thought), there was an API with [documentation](https://datawarehouse.hrsa.gov/HDWDataServiceExternal/HdwDataWebServiceExternal.asmx?op=FindHealthCentersByArea) that should have given us access to that data and potentially other files from the Health Resources & Services Administration. They use a SOAP API which is different than what we used during class, and they even provided exmaple requests. But for reasons we never figured out we could not successfully query. The closest we got was getting a large XML file with elements of the interactive map page, but never the data we wanted. If we were really desparate, we probably could have used Selenium to programmatically interact with the map. However, we found the dataset available for download and took the [easy way out](https://data.hrsa.gov/data/download). The dataset contains a lot of information on individual health centers, but for our purposes we only need each CHC's county fips code to count health centers per county.

#### What didn't work

Below is the code and output for the failed attempt at using SOAP requests on the Health Resources & Services Administration.

In [ ]:
#this gives SVG output of all states
token = "73d40507-6765-4c6c-9e1f-1e8f06f9d3a4"
# <WhereClause>""</WhereClause>

import requests
# url="https://datawarehouse.hrsa.gov/HDWDataServiceExternal/HdwDataWebServiceExternal.asmx?WSDL"
url = "https://datawarehouse.hrsa.gov/webservices/FindHealthCentersByArea/HDWDataServiceExternal/HdwDataWebServiceExternal.asmx?WSDL"
#headers = {'content-type': 'application/soap+xml'}
headers = {'content-type': 'text/xml'}
body = """<?xml version="1.0" encoding="utf-8"?>
<soap:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
  <soap:Body>
    <FindHealthCentersByArea xmlns="https://datawarehouse.hrsa.gov/webservices/">
      <StateFIPSCode>"48"</StateFIPSCode>
      <CountyFIPSCode>"48453"</CountyFIPSCode>
      <ZipCode>"78705"</ZipCode>
      <token>"73d40507-6765-4c6c-9e1f-1e8f06f9d3a4"</token>
    </FindHealthCentersByArea>
  </soap:Body>
</soap:Envelope>"""

response = requests.post(url,data=body,headers=headers)
# print(response.status_code)
# print(response.headers)
# print(response.content)
response.content

##### Step 1) CHC Location Data

We first checked if there were CHCs without fips codes. There turned out to be several, but the only ones with searchable addresses were two in California. There are many tools that can find county by address and so with those we were able to assign fips codes. The corrected data set will be attached with this report.

Load the location data.

In [44]:
with open('CHC_location.csv') as file:
    reader = csv.reader(file)
    data=list(reader)

##### Step 2) FIPS List

Find the column index that has the FIPS code for every CHC and Use it to create a list. Each instance of FIPS code in the data set corresponds to one CHC.

In [45]:
fips=[]
for i in data[1:]:
    fips.append(i[43])

##### Step 3) Count

Use the `Counter` method to go count each instance of unique FIPS codes. This gives the number of CHCs per county.

The `Counter` method outputs a dictionary; the FIPS codes are keys and the counts are values. Both are put into a list for later.

In [46]:
count=Counter(fips)
keys=[]
values=[]

for i in count:
    keys.append(i)
    values.append(count[i])

##### Step 4) Leading Zeros

Both excel and python delete leading zeros. This is unhelpful whent you want to work with the full FIPS codes, so we will attach the zeros manually. This will also turn them all into strings.

In [47]:
key=[]

for i in keys:
    if len(i)==4:
        i='0'+i
    key.append(i)

##### Step 5) DataFrame

Create a `pandas` dataframe from the FIPS codes and counts. Drop the last row because it was counting code-less CHCs.

In [48]:
df = pd.DataFrame()
df['FIPS Code'] = key
df['# of Health Centers'] = values
df = df.iloc[:2107]
LocationTable = df

## Merging and Final Dataset

Now that we have collected all of the data and put them into `pandas` dataframes, we can use the `merge` method to bring everything together.

This data set will have an absurdly high number of rows. This is a consequence of the `merge` method duplicating rows but will not be a problem when we do the final merge.

In [52]:
# Merging all the socioeconomic data
PP = pd.merge(PopulationTable,PovertyRateTable, how = 'outer', on = 'FIPS Code')
PPO = pd.merge(PP,OldTable, how = 'outer', on = 'FIPS Code')
PPOI = pd.merge(PPO,IncomeRateTable, how = 'outer', on = 'FIPS Code')
PPOIH = pd.merge(PPOI,HomeValueTable, how = 'outer', on = 'FIPS Code')
PPOIHF = pd.merge(PPOIH,FoodStampTable, how = 'outer', on = 'FIPS Code')
PPOIHFC = pd.merge(PPOIHF,CollegeTable, how = 'outer', on = 'FIPS Code')
PPOIHFCH = pd.merge(PPOIHFC,HighschoolTable, how = 'outer', on = 'FIPS Code')
PPOIHFCH

,FIPS Code,Population,Poverty %,% Older than 65,Median Household Income,Median Home Value,Food Stamp Recipient %,Edu. < College %,Edu. < Highschool %
0,48301,74,13.3,24.3,64200.0,NaN,0.9,95.3,20.3
1,15005,86,NaN,14.0,NaN,NaN,NaN,77.2,12.7
2,48269,289,10.7,7.3,59100.0,38800.0,4.6,80.2,19.8
3,31005,421,11.9,21.9,44500.0,101500.0,0.4,70.1,4.9
4,31117,432,12.2,18.1,49300.0,137500.0,4.0,74.8,9.9
5,30069,453,15.1,22.1,43200.0,112000.0,4.6,74.7,1.9
6,31009,502,15.5,24.1,49000.0,85900.0,7.0,75.8,1.1
7,31115,537,16.0,25.9,47900.0,159100.0,4.3,77.1,1.7
8,35021,546,14.3,31.1,37000.0,67800.0,7.0,76.0,10.3
9,48261,564,16.2,14.7,38700.0,21300.0,17.7,93.5,58.7
10,08111,569,15.5,17.0,44700.0,269400.0,9.6,70.2,3.5
11,48311,600,12.0,26.5,67200.0,74700.0,6.8,79.3,15.5
12,48033,602,10.6,23.6,60300.0,106900.0,6.3,61.2,5.5
13,31171,643,13.9,20.7,49400.0,82300.0,2.8,71.0,6.1
14,38087,674,11.3,24.2,54000.0,89300.0,5.5,73.2,11.7
15,48263,680,11.5,27.9,45100.0,70500.0,7.1,76.2,22.8
16,31075,682,10.0,23.3,55800.0,55300.0,7.2,77.0,2.9
17,02282,682,16.8,13.9,57700.0,185000.0,11.1,80.4,8.1
18,31091,684,8.2,35.8,47500.0,85800.0,3.0,74.4,5.4
19,31091,684,8.2,37.3,47500.0,85800.0,3.0,74.4,5.4
20,49009,702,8.2,17.0,54800.0,202900.0,3.0,90.7,4.9
21,31103,720,16.1,24.9,47300.0,72000.0,3.0,79.4,7.1
22,48443,721,18.7,31.2,41100.0,66600.0,10.5,82.7,19.1
23,31007,728,12.5,17.2,51000.0,137200.0,3.4,82.6,4.3
24,46075,740,13.0,22.8,45500.0,77700.0,6.4,84.1,7.7
25,30037,747,18.3,22.5,38300.0,98300.0,8.3,79.4,6.8
26,30103,790,10.3,20.9,50800.0,105500.0,4.4,76.9,6.4
27,08053,820,10.0,26.7,51700.0,325400.0,3.2,59.2,7.2
28,08053,820,10.0,26.7,51700.0,326300.0,3.2,59.2,7.2
29,08079,834,9.3,32.4,52600.0,279000.0,2.2,60.7,3.6
...,...,...,...,...,...,...,...,...,...
10131,36059,1363069,6.1,16.8,105500.0,467500.0,4.8,55.6,9.0
10132,12099,1426772,12.6,23.0,57600.0,242500.0,13.1,65.2,11.9
10133,36005,1455846,28.6,11.8,37400.0,371800.0,32.1,80.6,28.5
10134,36005,1455846,28.6,11.8,37400.0,371800.0,32.1,80.6,28.5
10135,06067,1495400,16.3,13.0,59700.0,299900.0,14.3,70.1,13.0
10136,06067,1495400,16.3,13.0,59700.0,299900.0,14.3,70.1,13.0
10137,36103,1497595,7.6,15.6,92300.0,379400.0,8.6,65.0,9.9
10138,42101,1569657,25.3,12.9,41500.0,151500.0,31.7,72.9,16.7
10139,25017,1582857,7.7,14.4,95000.0,453300.0,6.4,45.9,7.2
10140,06001,1629615,10.7,12.8,89500.0,649100.0,7.2,55.3,12.5
10141,36061,1653877,17.2,15.3,77200.0,915300.0,14.7,39.3,13.2
10142,26163,1763822,22.9,14.4,43600.0,92400.0,26.7,77.2,14.4
10143,12011,1890416,13.5,15.6,54100.0,223400.0,15.0,68.5,11.4
10144,48029,1892004,16.3,11.4,53200.0,142300.0,15.7,72.7,16.3
10145,06085,1911226,9.3,12.6,110800.0,829600.0,5.6,50.0,12.4
10146,48439,1983675,13.6,10.5,61600.0,158200.0,12.0,68.9,14.6
10147,32003,2112436,14.6,13.7,54500.0,212300.0,16.2,76.7,14.7
10148,53033,2118119,9.3,12.5,85900.0,446600.0,10.3,49.7,7.3
10149,06071,2121220,17.6,10.6,56200.0,280200.0,18.7,80.2,20.8
10150,36081,2339280,13.3,14.3,61800.0,481300.0,12.9,69.2,18.9
10151,06065,2355002,15.3,13.5,60000.0,304500.0,12.3,78.5,18.9
10152,48113,2552213,16.3,10.0,54400.0,148300.0,15.6,69.9,21.7
10153,36047,2635121,20.6,12.8,54800.0,623900.0,23.0,64.8,19.3
10154,12086,2702602,18.2,15.3,45900.0,242800.0,25.5,72.2,19.0
10155,06059,3155816,11.1,13.5,81600.0,620500.0,7.9,60.9,15.3
10156,06073,3283665,12.4,12.9,70700.0,484900.0,8.6,62.6,13.3
10157,04013,4155501,15.0,14.1,58700.0,225000.0,12.6,68.6,12.9
10158,04013,4155501,15.0,14.1,58700.0,225000.0,12.6,68.6,12.9
10159,17031,5238541,15.0,13.5,60000.0,227400.0,18.5,62.8,13.8
10160,06037,10105722,16.3,12.5,61300.0,495800.0,11.4,68.8,21.8

In [53]:
#Merging Cardiovascular data and Socioeconomic data
CardioSocio = pd.merge(DiseaseRateTable,PPOIHFCH, how = 'outer', on = 'FIPS Code')
CardioSocio =  CardioSocio.drop_duplicates(subset = 'FIPS Code',keep = 'first')
CardioSocio
Total = pd.merge(CardioSocio,LocationTable,  on = 'FIPS Code', how = 'left')
Total['People/Health Centers'] = Total.apply(lambda row: float(row['Population'])/float(row['# of Health Centers']), axis=1)
Total

,FIPS Code,County Name,State Abbreviation,State Name,CV Death per 100K,Population,Poverty %,% Older than 65,Median Household Income,Median Home Value,Food Stamp Recipient %,Edu. < College %,Edu. < Highschool %,# of Health Centers,People/Health Centers
0,02013,Aleutians East,AK,Alaska,106.1,3338,14.8,8.2,64000.0,124700.0,3.8,88.5,14.2,6.0,556.333333
1,08097,Pitkin,CO,Colorado,133.8,17747,6.9,16.6,74600.0,593600.0,1.2,38.8,4.7,1.0,17747.000000
2,08037,Eagle,CO,Colorado,157.5,53726,7.9,9.4,79600.0,471100.0,2.7,54.9,10.1,5.0,10745.200000
3,08117,Summit,CO,Colorado,171.8,29722,7.9,11.3,70300.0,547700.0,3.0,52.2,6.6,8.0,3715.250000
4,02016,Aleutians West,AK,Alaska,184.7,5784,8.0,5.5,78200.0,238800.0,2.4,83.8,11.7,6.0,964.000000
5,08113,San Miguel,CO,Colorado,186.0,7804,10.1,11.3,67300.0,485000.0,4.3,45.9,6.4,1.0,7804.000000
6,08091,Ouray,CO,Colorado,210.9,4653,8.8,26.4,66800.0,420600.0,4.8,50.6,2.0,NaN,NaN
7,56039,Teton,WY,Wyoming,215.2,22923,7.3,12.7,84100.0,739100.0,0.6,45.9,4.9,NaN,NaN
8,51685,Manassas Park,VA,Virginia,221.1,16117,7.8,7.4,72400.0,263300.0,7.6,68.6,17.7,NaN,NaN
9,16013,Blaine,ID,Idaho,234.1,21583,9.8,16.5,66200.0,390300.0,3.5,59.6,11.3,NaN,NaN
10,08035,Douglas,CO,Colorado,242.2,320940,3.4,10.4,112400.0,407100.0,1.6,42.0,2.1,1.0,320940.000000
11,12021,Collier,FL,Florida,247.8,356774,11.4,30.2,62400.0,316200.0,8.3,65.1,13.5,19.0,18777.578947
12,51600,Fairfax,VA,Virginia,253.7,23580,6.0,12.2,94700.0,501900.0,4.0,39.3,7.8,NaN,NaN
13,72143,Vega Alta,PR,Puerto Rico,254.3,38589,NaN,16.3,NaN,118500.0,NaN,80.4,30.2,NaN,NaN
14,08107,Routt,CO,Colorado,256.8,24359,7.2,13.1,71300.0,460600.0,4.0,48.4,3.9,2.0,12179.500000
15,72135,Toa Alta,PR,Puerto Rico,258.0,74169,NaN,12.3,NaN,142800.0,NaN,69.2,19.6,3.0,24723.000000
16,72019,Barranquitas,PR,Puerto Rico,258.1,29237,NaN,13.7,NaN,90600.0,NaN,82.8,29.9,1.0,29237.000000
17,27019,Carver,MN,Minnesota,258.8,98799,4.3,10.4,94100.0,287200.0,3.1,52.5,3.9,NaN,NaN
18,06041,Marin,CA,California,261.0,260814,7.8,20.3,103500.0,908800.0,3.9,42.5,6.8,26.0,10031.307692
19,72065,Hatillo,PR,Puerto Rico,261.6,40978,NaN,18.0,NaN,97500.0,NaN,75.2,30.6,7.0,5854.000000
20,72027,Camuy,PR,Puerto Rico,261.9,32936,NaN,17.7,NaN,108300.0,NaN,78.0,28.6,3.0,10978.666667
21,72037,Ceiba,PR,Puerto Rico,261.9,12238,NaN,21.2,NaN,94000.0,NaN,82.3,27.5,NaN,NaN
22,08093,Park,CO,Colorado,262.4,16900,9.2,18.2,68500.0,262300.0,7.6,71.5,3.6,1.0,16900.000000
23,27163,Washington,MN,Minnesota,266.7,250979,4.5,13.3,90800.0,264300.0,4.1,57.7,3.9,NaN,NaN
24,72101,Morovis,PR,Puerto Rico,267.0,31785,NaN,13.9,NaN,98000.0,NaN,83.0,32.5,1.0,31785.000000
25,72115,Quebradillas,PR,Puerto Rico,267.8,24548,NaN,17.9,NaN,109600.0,NaN,82.6,29.2,1.0,24548.000000
26,72087,Loiza,PR,Puerto Rico,267.9,27242,NaN,14.9,NaN,105200.0,NaN,86.8,26.2,1.0,27242.000000
27,27037,Dakota,MN,Minnesota,268.6,414655,5.6,12.6,79100.0,238000.0,5.6,58.9,5.3,NaN,NaN
28,72151,Yabucoa,PR,Puerto Rico,270.3,35025,NaN,17.5,NaN,87800.0,NaN,82.8,32.0,1.0,35025.000000
29,72139,Trujillo Alto,PR,Puerto Rico,270.5,69478,NaN,16.6,NaN,152400.0,NaN,65.1,16.6,1.0,69478.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3115,21077,Gallatin,KY,Kentucky,752.7,8652,14.5,13.2,49900.0,109900.0,15.2,88.1,18.9,5.0,1730.400000
3116,21193,Perry,KY,Kentucky,756.2,27329,30.9,15.1,31800.0,73300.0,33.7,87.4,23.4,6.0,4554.833333
3117,28043,Grenada,MS,Mississippi,762.5,21379,22.5,16.8,37400.0,93200.0,21.1,81.9,21.2,2.0,10689.500000
3118,51730,Petersburg,VA,Virginia,765.7,32037,25.2,16.3,34200.0,112900.0,31.2,82.5,19.4,2.0,16018.500000
3119,21129,Lee,KY,Kentucky,769.0,6717,39.0,17.2,25400.0,64200.0,37.3,91.1,29.7,3.0,2239.000000
3120,22107,Tensas,LA,Louisiana,771.3,4771,31.6,21.9,26700.0,62200.0,33.9,90.3,23.8,3.0,1590.333333
3121,40029,Coal,OK,Oklahoma,771.7,5666,21.9,19.9,41100.0,87800.0,18.7,83.4,16.4,1.0,5666.000000
3122,48357,Ochiltree,TX,Texas,772.7,10484,11.4,10.1,61200.0,102400.0,7.0,81.7,24.4,NaN,NaN
3123,40023,Choctaw,OK,Oklahoma,772.9,14979,26.8,19.7,32500.0,88800.0,30.1,87.5,19.1,2.0,7489.500000
3124,47017,Carroll,TN,Tennessee,776.7,28137,18.3,19.6,40400.0,86800.0,22.3,84.2,19.0,NaN,NaN
3125,28099,Neshoba,MS,Mississippi,779.3,29437,22.5,15.2,37200.0,80400.0,24.6,85.9,21.8,1.0,29437.000000
3126,30085,Roosevelt,MT,Montana,790.2,11218,23.9,10.4,40100.0,116400.0,24.3,84.5,16.7,NaN,NaN
3127,40101,Muskogee,OK,Oklahoma,791.5,69471,21.4,15.9,40600.0,97700.0,23.7,81.1,14.8,4.0,17367.750000
3128,28143,Tunica,MS,Mississippi,800.0,10276,31.3,10.7,30200.0,96000.0,45.1,82.9,21.3,2.0,5138.000000
3129,22065,Madison,LA,Louisiana,800.5,11616,41.3,13.2,27300.0,64100.0,34.6,86.6,24.7,1.0,11616.000000
3130,13161,Jeff Davis,GA,Georgia,808.4,14999,23.9,15.0,35500.0,77900.0,23.4,89.7,23.0,NaN,NaN
3131,01127,Walker,AL,Alabama,808.8,64927,20.5,18.3,39500.0,87300.0,20.4,88.9,20.0,5.0,12985.400000
3132,21025,Breathitt,KY,Kentucky,820.9,13276,34.3,15.4,26700.0,50000.0,37.4,87.4,27.2,1.0,13276.000000
3133,05041,Desha,AR,Arkansas,840.2,12094,26.5,17.6,32400.0,56700.0,28.3,87.4,22.6,NaN,NaN
3134,45069,Marlboro,SC,South Carolina,844.1,27505,28.1,16.5,33000.0,60500.0,27.6,91.1,25.8,4.0,6876.250000
3135,21237,Wolfe,KY,Kentucky,853.5,7251,32.2,18.3,28400.0,65700.0,35.0,92.2,30.7,1.0,7251.000000
3136,51580,Covington,VA,Virginia,860.9,5675,15.9,21.7,37900.0,72200.0,20.3,85.4,16.6,NaN,NaN
3137,51081,Greensville,VA,Virginia,867.7,11606,25.4,14.8,41500.0,89400.0,15.3,92.5,24.7,NaN,NaN
3138,22021,Caldwell,LA,Louisiana,876.6,10000,22.6,17.2,35400.0,67800.0,22.1,87.6,23.1,NaN,NaN
3139,29221,Washington,MO,Missouri,878.7,24968,22.0,15.6,35700.0,90400.0,25.9,91.1,23.0,4.0,6242.000000
3140,28083,Leflore,MS,Mississippi,880.5,30113,35.6,13.1,27600.0,76100.0,38.7,82.1,21.8,1.0,30113.000000
3141,22025,Catahoula,LA,Louisiana,881.7,10044,27.5,15.9,33200.0,78700.0,25.0,86.1,22.6,4.0,2511.000000
3142,22041,Franklin,LA,Louisiana,1202.6,20388,29.2,17.2,31900.0,83200.0,27.0,88.6,24.8,1.0,20388.000000
3143,02282,NaN,NaN,NaN,NaN,682,16.8,13.9,57700.0,185000.0,11.1,80.4,8.1,2.0,341.000000
3144,02060,NaN,NaN,NaN,NaN,917,11.4,9.7,68000.0,186700.0,6.4,79.7,7.4,3.0,305.666667

We have now created the final dataset containing *FIPS Code*, *County Name*, *State Abbreviation*, *State Name*, *CV Death per 100K*, *Population*, *Poverty %*, *% Older than 65*, *Median Household Income*, *Median Home Value*, *Food Stamp Recipient %*,	*Edu. < College %*, *Edu. < Highschool %*, *# of Health Centers*, and *People/Health Centers*. There will be many NaNs considering the diversity of the data and their [sources](https://www.cdc.gov/dhdsp/maps/atlas/data-sources.html).

##### Writing Out

The *Total* dataframe is written out to a csv file. The FIPS codes will lose their leading zeros, but this should not affect it as a unique identifier.

In [74]:
Total.to_csv('dataset1.csv',encoding='utf-8',index=False)